# Node modules
node_modules/
frontend/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Builds e artefatos
dist
dist-ssr

# Arquivos locais
*.local
.env

# Testes
coverage/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?
